#nav1 {
    background-color: #ba411f;
    color: white;
}

#nav2 {
    background-color: #071425;
    color: white;
}

#nav3 {
    background-color: #ba411f;
    color: white;
}

#favoriteLanguages {
    border-width: .25rem;
    border-style: solid;
    border-color: black;
    color: black;
    background-color: #ba411f;
}


#favoriteLanguageBg {
    background-color: #444f5e;
    border-bottom-width: .5rem;
    border-bottom-style: solid;
    border-bottom-color: black;
    padding-top: .5rem;
}
